.image{
    width: 70rem;
    height: 50rem;
    margin-bottom: 3rem;
}
.switch-hero .block:hover{
    border-bottom: 0.2rem solid rgba(105,111,255,0.9);
}
.btn-group{
    margin-top: 1rem;
    margin-left: 10rem;
}
#btn-distans{
    margin-left: 1rem;
}
